.hero-wrapper {
  margin-top: 0;
}
.hero-wrapper img {
  width: 80%;
  display: block;
  float: right;
  padding: 50px 0;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-text h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  margin-bottom: 20px;
  text-align: left;
}
.hero-text h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
}
.hero-text h3 span {
  color: var(--brand-color);
}
