body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}
:root {
  --brand-color: #019d9e;
  --hover-color: #028c8c;
  --blue-color: #253049;
  --text-color: #282828;
}
